#frm-registro {
    width: 40%;
}

#frm-registro .fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#frm-registro .fila .columna {
    display: flex;
    flex-direction: column;
    width: 45%;
}